assignment/.DS_Store
assignment/section2/mark_one/.gitignore
assignment/section2/mark_one/.metadata
assignment/section2/mark_one/pubspec.lock
assignment/section2/mark_one/pubspec.yaml
assignment/section2/mark_one/README.md
assignment/section2/mark_one/android/.gitignore
assignment/section2/mark_one/android/build.gradle
assignment/section2/mark_one/android/gradle.properties
assignment/section2/mark_one/android/settings.gradle
assignment/section2/mark_one/android/app/build.gradle
assignment/section2/mark_one/android/app/src/debug/AndroidManifest.xml
assignment/section2/mark_one/android/app/src/main/AndroidManifest.xml
assignment/section2/mark_one/android/app/src/main/kotlin/com/example/mark_one/MainActivity.kt
assignment/section2/mark_one/android/app/src/main/res/drawable/launch_background.xml
assignment/section2/mark_one/android/app/src/main/res/drawable-v21/launch_background.xml
assignment/section2/mark_one/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
assignment/section2/mark_one/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
assignment/section2/mark_one/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
assignment/section2/mark_one/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
assignment/section2/mark_one/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
assignment/section2/mark_one/android/app/src/main/res/values/styles.xml
assignment/section2/mark_one/android/app/src/main/res/values-night/styles.xml
assignment/section2/mark_one/android/app/src/profile/AndroidManifest.xml
assignment/section2/mark_one/android/gradle/wrapper/gradle-wrapper.properties
assignment/section2/mark_one/ios/.gitignore
assignment/section2/mark_one/ios/Flutter/AppFrameworkInfo.plist
assignment/section2/mark_one/ios/Flutter/Debug.xcconfig
assignment/section2/mark_one/ios/Flutter/Release.xcconfig
assignment/section2/mark_one/ios/Runner/AppDelegate.swift
assignment/section2/mark_one/ios/Runner/Info.plist
assignment/section2/mark_one/ios/Runner/Runner-Bridging-Header.h
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
assignment/section2/mark_one/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
assignment/section2/mark_one/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
assignment/section2/mark_one/ios/Runner/Base.lproj/LaunchScreen.storyboard
assignment/section2/mark_one/ios/Runner/Base.lproj/Main.storyboard
assignment/section2/mark_one/ios/Runner.xcodeproj/project.pbxproj
assignment/section2/mark_one/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
assignment/section2/mark_one/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
assignment/section2/mark_one/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
assignment/section2/mark_one/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
assignment/section2/mark_one/ios/Runner.xcworkspace/contents.xcworkspacedata
assignment/section2/mark_one/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
assignment/section2/mark_one/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
assignment/section2/mark_one/lib/app.dart
assignment/section2/mark_one/lib/main.dart
assignment/section2/mark_one/lib/text.dart
assignment/section2/mark_one/lib/textControl.dart
assignment/section2/mark_one/test/widget_test.dart
assignment/section2/mark_one/web/favicon.png
assignment/section2/mark_one/web/index.html
assignment/section2/mark_one/web/manifest.json
assignment/section2/mark_one/web/icons/Icon-192.png
assignment/section2/mark_one/web/icons/Icon-512.png
first_app/.gitignore
first_app/.metadata
first_app/flutter_01.png
first_app/pubspec.lock
first_app/pubspec.yaml
first_app/README.md
first_app/android/.gitignore
first_app/android/build.gradle
first_app/android/gradle.properties
first_app/android/settings.gradle
first_app/android/app/build.gradle
first_app/android/app/src/debug/AndroidManifest.xml
first_app/android/app/src/main/AndroidManifest.xml
first_app/android/app/src/main/kotlin/com/example/first_app/MainActivity.kt
first_app/android/app/src/main/res/drawable/launch_background.xml
first_app/android/app/src/main/res/drawable-v21/launch_background.xml
first_app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
first_app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
first_app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
first_app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
first_app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
first_app/android/app/src/main/res/values/styles.xml
first_app/android/app/src/main/res/values-night/styles.xml
first_app/android/app/src/profile/AndroidManifest.xml
first_app/android/gradle/wrapper/gradle-wrapper.properties
first_app/ios/.gitignore
first_app/ios/Flutter/AppFrameworkInfo.plist
first_app/ios/Flutter/Debug.xcconfig
first_app/ios/Flutter/Release.xcconfig
first_app/ios/Runner/AppDelegate.swift
first_app/ios/Runner/Info.plist
first_app/ios/Runner/Runner-Bridging-Header.h
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
first_app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
first_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
first_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
first_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
first_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
first_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
first_app/ios/Runner/Base.lproj/LaunchScreen.storyboard
first_app/ios/Runner/Base.lproj/Main.storyboard
first_app/ios/Runner.xcodeproj/project.pbxproj
first_app/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
first_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
first_app/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
first_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
first_app/ios/Runner.xcworkspace/contents.xcworkspacedata
first_app/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
first_app/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
first_app/ios/build/XCBuildData/243661f9559606a6711dcbdd348c38ae-buildRequest.json
first_app/ios/build/XCBuildData/243661f9559606a6711dcbdd348c38ae-desc.xcbuild
first_app/ios/build/XCBuildData/243661f9559606a6711dcbdd348c38ae-manifest.xcbuild
first_app/ios/build/XCBuildData/243661f9559606a6711dcbdd348c38ae-targetGraph.txt
first_app/ios/build/XCBuildData/build.db
first_app/ios/build/XCBuildData/BuildDescriptionCacheIndex-1e9db543c513237ca7e1e426732c7c11
first_app/ios/build/XCBuildData/c8f10d14fdcb5b04d4b3ced13adb6ac9-buildRequest.json
first_app/ios/build/XCBuildData/c8f10d14fdcb5b04d4b3ced13adb6ac9-desc.xcbuild
first_app/ios/build/XCBuildData/c8f10d14fdcb5b04d4b3ced13adb6ac9-manifest.xcbuild
first_app/ios/build/XCBuildData/c8f10d14fdcb5b04d4b3ced13adb6ac9-targetGraph.txt
first_app/lib/main.dart
first_app/test/widget_test.dart
first_app/web/favicon.png
first_app/web/index.html
first_app/web/manifest.json
first_app/web/icons/Icon-192.png
first_app/web/icons/Icon-512.png
the_basics/.gitignore
the_basics/.metadata
the_basics/pubspec.lock
the_basics/pubspec.yaml
the_basics/README.md
the_basics/android/.gitignore
the_basics/android/build.gradle
the_basics/android/gradle.properties
the_basics/android/settings.gradle
the_basics/android/app/build.gradle
the_basics/android/app/src/debug/AndroidManifest.xml
the_basics/android/app/src/main/AndroidManifest.xml
the_basics/android/app/src/main/kotlin/com/example/the_basics/MainActivity.kt
the_basics/android/app/src/main/res/drawable/launch_background.xml
the_basics/android/app/src/main/res/drawable-v21/launch_background.xml
the_basics/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
the_basics/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
the_basics/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
the_basics/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
the_basics/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
the_basics/android/app/src/main/res/values/styles.xml
the_basics/android/app/src/main/res/values-night/styles.xml
the_basics/android/app/src/profile/AndroidManifest.xml
the_basics/android/gradle/wrapper/gradle-wrapper.properties
the_basics/ios/.gitignore
the_basics/ios/Flutter/AppFrameworkInfo.plist
the_basics/ios/Flutter/Debug.xcconfig
the_basics/ios/Flutter/Release.xcconfig
the_basics/ios/Runner/AppDelegate.swift
the_basics/ios/Runner/Info.plist
the_basics/ios/Runner/Runner-Bridging-Header.h
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
the_basics/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
the_basics/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
the_basics/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
the_basics/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
the_basics/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
the_basics/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
the_basics/ios/Runner/Base.lproj/LaunchScreen.storyboard
the_basics/ios/Runner/Base.lproj/Main.storyboard
the_basics/ios/Runner.xcodeproj/project.pbxproj
the_basics/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
the_basics/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
the_basics/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
the_basics/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
the_basics/ios/Runner.xcworkspace/contents.xcworkspacedata
the_basics/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
the_basics/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
the_basics/ios/build/XCBuildData/55f5d2b2affc0d5a17073c6ed48400c5-buildRequest.json
the_basics/ios/build/XCBuildData/55f5d2b2affc0d5a17073c6ed48400c5-desc.xcbuild
the_basics/ios/build/XCBuildData/55f5d2b2affc0d5a17073c6ed48400c5-manifest.xcbuild
the_basics/ios/build/XCBuildData/55f5d2b2affc0d5a17073c6ed48400c5-targetGraph.txt
the_basics/ios/build/XCBuildData/0634d2f499aea8b9126557f2f64ebf52-buildRequest.json
the_basics/ios/build/XCBuildData/0634d2f499aea8b9126557f2f64ebf52-desc.xcbuild
the_basics/ios/build/XCBuildData/0634d2f499aea8b9126557f2f64ebf52-manifest.xcbuild
the_basics/ios/build/XCBuildData/0634d2f499aea8b9126557f2f64ebf52-targetGraph.txt
the_basics/ios/build/XCBuildData/b17aa2b8f2ed622c7232a571e77398c0-buildRequest.json
the_basics/ios/build/XCBuildData/b17aa2b8f2ed622c7232a571e77398c0-desc.xcbuild
the_basics/ios/build/XCBuildData/b17aa2b8f2ed622c7232a571e77398c0-manifest.xcbuild
the_basics/ios/build/XCBuildData/b17aa2b8f2ed622c7232a571e77398c0-targetGraph.txt
the_basics/ios/build/XCBuildData/build.db
the_basics/ios/build/XCBuildData/BuildDescriptionCacheIndex-773b6a202727dd7016140e54103d4c18
the_basics/ios/build/XCBuildData/e8f3b2ad6006e91c2fd764f7eb20637c-buildRequest.json
the_basics/ios/build/XCBuildData/e8f3b2ad6006e91c2fd764f7eb20637c-targetGraph.txt
the_basics/ios/build/XCBuildData/f2eade654de7753fdffbe990953f4d53-buildRequest.json
the_basics/ios/build/XCBuildData/f2eade654de7753fdffbe990953f4d53-desc.xcbuild
the_basics/ios/build/XCBuildData/f2eade654de7753fdffbe990953f4d53-manifest.xcbuild
the_basics/ios/build/XCBuildData/f2eade654de7753fdffbe990953f4d53-targetGraph.txt
the_basics/lib/answer.dart
the_basics/lib/main.dart
the_basics/lib/question.dart
the_basics/lib/quiz.dart
the_basics/lib/result.dart
the_basics/test/widget_test.dart
the_basics/web/favicon.png
the_basics/web/index.html
the_basics/web/manifest.json
the_basics/web/icons/Icon-192.png
the_basics/web/icons/Icon-512.png
assignment/section2/mark_one/lib/assets/icon/icon.png
assignment/section2/mark_one/lib/assets/icon/switch.png
chat_app/android/app/google-services.json
chat_app/ios/Runner/GoogleService-Info.plist
.vscode/launch.json
